<h3>Recent Activity</h3>
<hr>
{% for room_message in room_messages %}

    <div>
        <small><a
                href="{% url 'profile' room_message.user.id %}">@{{ room_message.user }}</a> {{ room_message.created|timesince }}
        </small>
        <small>Replied to "{{ room_message.room }}" </small>
        <p>{{ room_message }}</p>

        {% if request.user == room_message.user %}
            <a href="{% url 'delete-message' room_message.id %}">Delete</a>

        {% endif %}
    </div>
{% endfor %}